<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <style>
    body {
      background-color: #F8E9A1;
    }
    .container {
      margin-top: 50px;
    }
    .logo {
      text-align: center;
      margin-bottom: 30px;
    }

    .logo img {
      max-width: 400px; /* Adjust the max-width to make the logo smaller in width */
      max-height: 400px; /* Adjust the max-height to make the logo smaller in height */
    }
    .game-instructions {
      text-align: center;
      margin-bottom: 30px;
      font-size: 18px;
      color: #333;
    }
    .play-now-btn {
      display: block;
      margin: 0 auto;
      background-color: #c0a71cc5;
      border-color: #b9a223aa;
      color: #FFF;
      padding: 10px 20px;
      font-size: 24px;
      border-radius: 10px;
      width: fit-content; /* Add this line to make the button smaller horizontally */
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="logo">
      <a href="/logo.png"><img src="/logo.png" alt="Logo"></a>
    </div>
    <div class="game-instructions">
      <p>Game Instructions: Listen to the audios, and guess the languages. If it's too hard, unhide the text</p>
    </div>
    <a href="/play" class="play-now-btn">Play Now</a>
  </div>
</body>
</html>